{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "comma-dangle": "off",
    "consistent-return": "off",
    "global-require": "off",
    "import/prefer-default-export": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    # "max-len": ["warn", 120],
    "max-len": "off",
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-shadow": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off"
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/ignore": ["node_modules", ".scss$"],
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true
  }
}
